<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="UTF-8">
		<title>初始化</title>
		<link href="../../../css/bootstrap.css" rel="stylesheet">
	</head>

	<body>
		<div class="container">

			<div class="row">
				<div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
				<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
			</div>

			<!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
			<div class="row">
				<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
				<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
				<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
			</div>

			<!-- Columns are always 50% wide, on mobile and desktop -->
			<div class="row">
				<div class="col-xs-6">.col-xs-6</div>
				<div class="col-xs-6">.col-xs-6</div>
			</div>

		</div>

		<ul>
			<li>abc</li>
		</ul>

		<ol>
			<li>abc</li>
		</ol>

		<!-- On rows -->
		<tr class="active">abc</tr>
		<tr class="success">abc</tr>
		<tr class="warning">abc</tr>
		<tr class="danger">abc</tr>
		<tr class="info">abc</tr>

		<!-- On cells (`td` or `th`) -->
		<tr>
			<td class="active">abc</td>
			<td class="success">abc</td>
			<td class="warning">abc</td>
			<td class="danger">abc</td>
			<td class="info">abc</td>
		</tr>

		<script src="../../../js/jquery-3.0.0.min.js"></script>
		<script src="../../../js/bootstrap.js"></script>
	</body>

</html>