* {
	margin: 0;
	padding: 0;
}

.container{
	padding: 0;
	margin:0;
}

.head{
	background-color: #CCCCCC;
	width: 100%;
	height: 60px;
}

/*自由行电话图标*/
.phoneIcon{
	position: absolute;
	left: 60%;
	top: 30px;
	width: 20px;
	height: 20px;
}

/*自由行电话*/
.phone{
	position: absolute;
	left: 62%;
	top: 30px;
	width: 200px;
	height: 20px;
	overflow:hidden;
	white-space：normal;
}

/*客服电话图标*/
.phoneIcon1{
	position: absolute;
	left: 76%;
	top: 30px;
	width: 20px;
	height: 20px;
}

/*客服电话*/
.phone1{
	position: absolute;
	left: 78%;
	top: 30px;
	width: 150px;
	height: 20px;
}




/*首页*/
[name="home"]{
	position: absolute;
	left: 15%;
	top: 60px;
	width: 5%;
	height: 20px;
	font-size: 28px;
	z-index: 2;
}

[name="goodsList"]{
	position: absolute;
	left: 20%;
	top: 60px;
	width: 9%;
	height: 20px;
	font-size: 28px;
	z-index: 2;
}


[name="hotRecommend"]{
	position: absolute;
	left: 29%;
	top: 60px;
	width: 9%;
	height: 20px;
	font-size: 28px;
	z-index: 2;
}

[name="memberCenter"]{
	position: absolute;
	left: 38%;
	top: 60px;
	width: 9%;
	height: 20px;
	font-size: 28px;
	z-index: 2;
}


