<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--<link href="../css/bootstrap.min.css" rel="stylesheet">-->
		<link rel="stylesheet" type="text/css" href="../selfCss/common.css" />
		<link rel="stylesheet" type="text/css" href="../selfCss/frame.css" />
	</head>

	<body>
		<div id="div1">
			<div id="div2"></div>
			<div id="div3"></div>
		</div>






		<script src="../../js/jquery/jquery-3.0.0.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
	</body>

</html>