<html lang="zh-CN" delegate-events="click">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>
			昆明航空
		</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="renderer" content="webkit">
		<!-- 网址logo -->
		<link rel="shortcut icon" href="http://www.airkunming.com/assets/favicon.ico">
		<link rel="stylesheet" type="text/css" media="all" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" media="all" href="css/global.css">
		<link rel="stylesheet" type="text/css" media="all" href="css/yihtyle.css">
	</head>

	<body>
		<div id="top" class="">
			<div class="wrap">
				<div class="toprm"></div>
			</div>
			<!--wrap-->
		</div>
		<!--top-->
		<div class="kmbanner">
			<div id="uiejSwipe3" style="visibility: visible;">
				<div class="swipe-wrap">
					<div class="abc" style="background-image: url(images/banner.png);" data-index="0"></div>
					<div class="abc" style="background-image: url(images/banner4.png);" data-index="1"></div>
					<div class="abc" style="background-image: url(images/banner5.png);" data-index="2"></div>
				</div>
				<div class="wrap pr">
					<div id="dposition"></div>
				</div>
			</div>
			<!--uiejSwipe3-->
			<!-- left next right next -->
			<a href="javascript:void(0);" onclick="uiejSwipe3.prev()" class="hwjtnl"></a>
			<a href="javascript:void(0);" onclick="uiejSwipe3.next()" class="hwjtnr"></a>
			<!--  -->
			<div id="menu" class="cf">
				<div class="wrap pr">
					<div class="pr fleft">
						<a href="http://www.airkunming.com/" class="logo"><img src="images/logo.png" alt="昆明航空"></a>
					</div>
					<ul class="hwj-memu">
						<li>
							<a href="index.html" looyu_bound="1">首页</a>
						</li>
						<li>
							<a href="Hot.html" looyu_bound="1">热门推荐</a>
						</li>
						<li>
							<a href="list.html" looyu_bound="1">产品列表</a>
						</li>
						<li>
							<a href="Myorder.html" looyu_bound="1">会员中心</a>
						</li>
					</ul>
					<div class="topctls pr">
						<span><img src="images/pingd.png" class="vgm">自由行电话：0871-67335922&nbsp;&nbsp;&nbsp;</span> <span><img src="images/i7.png" class="vgm">&nbsp;客服电话: 0871-96598</span>
						<p class="tp2ma" style="display: none;">
							<img src="images/kmhk.png">
						</p>
					</div>
				</div>
				<!--wrap-->
			</div>
			<!--menu-->
			<div class="wrap index-t5">
				<div class="sshowbox yihexin_q">
					<div class="left_sou_box">
						<div class="left">
							<span>搜索目的地</span>
						</div>
						<div class="right">
							<h1>
                                机票+酒店
                            </h1>
							<p>
								出发地点
							</p><input type="text" placeholder="昆明" id="place" name="">
							<p>
								目的地
							</p><input type="text" placeholder="您要去哪？" id="destination" name="">
							<a href="javascript:void(0)" class="button_a">搜索</a>
						</div>
					</div>
				</div>
				<!--sshowbox-->
			</div>
		</div>
		<!--kmbanner-->
		<!-- content -->
		<div class="content_box">
			<div class="width_1200">
				<div class="h1_tite">
					<h1>
                        产品推荐
                    </h1>
					<a href="list.html">更多&nbsp;&nbsp;<span style="font-size: 14px">&gt;</span></a>
				</div>
				<!-- commodity -->
				<div class="commodity">
					<div id="myCarousel" class="carousel slide">
						<div class="carousel-inner">
							<!-- 1 -->
							<div class="item active">
								<div class="comm_pp">
									<div class="left_img">
										<img src="images/sd.png">
									</div>
									<div class="right_div">
										<div class="txt_p">
											<p>
												昆明直飞大理，2晚3天自由行，入住海恋精品海景度假客栈。
											</p>
										</div>
										<div class="g_ge">
											<span class="red" style="font-size: 22px">￥1280</span>&nbsp;起
										</div>
										<a href="details.html" class="comm_a_buton">查看详情</a>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<!--footer-->
			<div id="footer" chromeappversion="1.9">
				<div class="wrap">
					<div class="cf">
						<div class="ftbox1">
							<div class="ftnode1">
								<h3 class="f16">
                                    <span class="fn">关于昆航</span>
                                </h3>
								<p>
									<a href="http://www.airkunming.com/cms/show/about.html" looyu_bound="1">公司简介</a>
								</p>
								<p>
									<a href="http://www.airkunming.com/cms/showlist/e03c4b76b5b845d09455f206e9e17ec3/1.html" target="_blank" looyu_bound="1">采购公告</a>
								</p>
								<p>
									<a href="http://map.variflight.com/mount/ky/" target="_blank" looyu_bound="1">航线网络</a>
								</p>
								<p>
									<a href="http://www.airkunming.com/cms/show/job.html" looyu_bound="1">人才招聘</a>
								</p>
							</div>
							<!--ftnode1-->
							<div class="ftnode1">
								<h3 class="f16">
                                    <span class="fn">客户服务</span>
                                </h3>
								<p>
									<a href="http://www.airkunming.com/cms/show/gpxz.html" looyu_bound="1">旅客须知</a>
								</p>
								<p>
									<a href="http://www.airkunming.com/cms/show/kefuzn.html" looyu_bound="1">客服指南</a>
								</p>
								<p>
									<a href="http://www.airkunming.com/cms/show/tgq.html" looyu_bound="1">退改签规定</a>
								</p>
							</div>
							<!--ftnode1-->
							<div class="ftnode1">
								<h3 class="f16">
                                    <span class="fn">自助服务</span>
                                </h3>
								<p>
									<a href="http://www.airkunming.com/checkin/chaxunForword" looyu_bound="1">网上值机</a>
								</p>
								<p>
									<a href="http://www.airkunming.com/precheckin/toPage" looyu_bound="1">预选座位</a>
								</p>
								<p>
									<a href="http://www.airkunming.com/flightDynamic/searchPage" looyu_bound="1">航班动态</a>
								</p>
								<p>
									<a href="http://pssp.airkunming.com/" target="_blank" looyu_bound="1">线上评价</a>
								</p>
							</div>
							<!--ftnode1-->
							<div class="ftnode1">
								<h3 class="f16">
                                    <span class="fn">旅行攻略</span>
                                </h3>
								<p>
									<a href="http://www.airkunming.com/cms/show/meishigonglue.html" looyu_bound="1">云南美食攻略</a>
								</p>
								<p>
									<a href="http://www.airkunming.com/cms/show/ynjdgl.html" looyu_bound="1">云南景点攻略</a>
								</p>
							</div>
							<!--ftnode1-->
						</div>
						<!--ftbox1-->
						<div class="ftbox2">
							<div class="ftnode2">
								<p>
									<img src="images/kmhk.png" alt="二维码">
								</p>
								<p class="f16">
									昆航官方微信
								</p>
								<p>
									扫一扫，关注享1元特价机票
								</p>
							</div>
							<!--ftnode2-->
							<div class="ftnode2">
								<img src="images/kmhklogo2.png" alt="昆明航空">
							</div>
							<!--ftnode2-->
						</div>
						<!--ftbox2-->
					</div>
					<!--cf-->
					<div class="tcenter">
						<p>
							<a href="http://www.airkunming.com/cms/show/law.html" looyu_bound="1">法律声明</a><span class="white2">|</span>
							<a href="http://www.airkunming.com/cms/show/ysztj.html" looyu_bound="1">运输总条件</a><span class="white2">|</span>
							<a href="http://www.airkunming.com/cms/show/yinsibaohu.html" looyu_bound="1">隐私保护</a><span class="white2">|</span>
							<a href="http://www.airkunming.com/cms/show/job.html" looyu_bound="1">昆航招聘</a>
						</p>
						<p>
							<span>Copyright © airkunming.com All Rights Reserved.昆明航空有限公司 滇ICP备16007713号-1</span>
							<!-- 一下内容从
                <script type="text/javascript" src="js/http://wljg.ynaic.gov.cn:80/ynwjww/VieidServlet?webId=2094898ebf3222288ecbb2111170a243&width=120&heigth=40"></script>
                引入js中获取 -->
							<a href="http://wljg.ynaic.gov.cn/ynwjww/indexquery/indexqueryAction!dizview.dhtml?chr_id=2094898ebf3222288ecbb2111170a243&amp;bus_ent_id=530100D000516046&amp;bus_ent_chr_id=c144351f7ea2470294c18fa7c5a47386" target="_blank" looyu_bound="1"><span><img alt="云南网监电子标识" title="云南网监电子标识" src="images/govIcon_s.gif" width="20" height="27.4"></span></a>
						</p>
					</div>
				</div>
				<!--wrap-->
			</div>
			<!-- 城市 -->
			<div id="in_city" style="display: none"></div>
			<!-- 出发地 -->
			<div id="place_c" style="display: none">
				<div>
					<a href="javascript:void(0)">北京</a>
				</div>
			</div>
			<!-- 目的地 -->
			<div id="destination_mu" style="display: none">
				<div>
					<a href="javascript:void(0)">北京</a>
				</div>
			</div>
		</div>
	</body>

</html>