<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<!--头部-->
		<div id="header">
			<h1>LazyFrame</h1>
		</div>
		
		<!--导航栏-->
		<div id="nav"></div>
		
		<!--tab栏-->
		<div id="tab">
			<tab-item>
				<!--采用iframe的方式-->
				<iframe src="inner.html" id="inner1" name="inner1" width="200px" height="200px"></iframe>
			</tab-item>
			<tab-item>
				<!--采用href的方式-->
				<a href="href.html" id="href1" name="href1" width="200px" height="200px">
			</tab-item>
		</div>
		
		<!--底部-->
		<div id="footer"></div>



		<!--导航栏模块-->
		<!--<script src="nav.js"></script>-->
		<!--tab模块-->
		<!--<script src="tab.js"></script>-->
		<script src="fun.js"></script>
		<script src="jquery-1.8.0.min.js"></script>
		<script>
			console.log("outer:"+Math.random());
			window.yyy=$;
			yyy(function(){
				console.log("aaaaa")
			});
			window.frames['inner1'].window.$=$;
			window.frames['inner1'].window.test=test;
			//window.test = test;
			//加载导航栏数据并绘制导航栏
			//监听导航栏事件
			//打开或切换tab
			//iframe之间通过cookie共享数据
		</script>
	</body>

</html>





