<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../selfCss/common.css" />
		<link rel="stylesheet" type="text/css" href="../selfCss/myIndex.css" />
		<link rel="stylesheet" href="../../css/swiper-3.4.2.min.css">
	</head>

	<body>
		<div id="container"></div>
		<!--头部-->
		<div class="head">
			<img class="phoneIcon" src="../images/pingd.png" />
			<div class="phone">自由行电话：0871-67335922</div>
			<img class="phoneIcon1" src="../images/i7.png" />
			<div class="phone1">客服电话：0871-96598</div>

		</div>

		<!--导航栏-->
		<div class="navigation">
			<div name="home">首页</div>
			<div name="goodsList">热门推荐</div>
			<div name="hotRecommend">产品推荐</div>
			<div name="memberCenter">会员中心</div>
		</div>
		<!-- 轮播图 -->
		<div class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="../images/banner.png" />
				</div>
				<div class="swiper-slide">
					<img src="../images/banner1.png" />
				</div>
				<div class="swiper-slide">
					<img src="../images/banner2.png" />
				</div>
			</div>
		</div>
		<!--中部内容区-->
		<!--产品推荐 更多 -->

		<!-- 产品列表 -->

		<!--底部-->

		<script src="../../js/jquery/jquery-3.0.0.min.js"></script>
		<!--<script src="../js/bootstrap.min.js"></script>-->
		<script src="../../js/swiper-3.4.2.min.js"></script>
		<script src="../../js/selfJs/myIndex.js"></script>

		<script type="text/javascript">
			var mySwiper = new Swiper('.swiper-container', {
				loop: true,
				autoplay: 3000,
			});
		</script>
	</body>

</html>